/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



* {
    scroll-behavior: smooth;
}

.gradient-text {
   
    background-image: linear-gradient(to right, rgb(17, 24, 39), rgb(209, 213, 219), rgb(243, 244, 246));
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores con prefijo webkit */
    color: transparent;
  }

  

  /* linear-gradient(to right bottom, rgb(30, 64, 175), rgb(109, 40, 217), rgb(31, 41, 55)) Modo oscuro */