
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    scroll-behavior: smooth;
}

.gradient-text {
   
    background-image: linear-gradient(to left, rgb(253, 186, 116), rgb(109, 40, 217), rgb(56, 189, 248));
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
  }

  html{
    background-color: rgb(26, 29, 31);
  }

.gradient-p {
    
    background-image: linear-gradient(to top, rgb(6, 182, 212), rgb(45, 212, 191), rgb(37, 99, 235));
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

  

  /* linear-gradient(to right bottom, rgb(30, 64, 175), rgb(109, 40, 217), rgb(31, 41, 55)) Modo oscuro */